body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, rgba(249, 250, 241, 0.943), #e69316ee);
    text-align: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh; 
}

.container {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff7f00;
}

input, button, select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #ff7f00;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #c28f18;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#tax, #service, #discount {
    width: 50%; 
    max-width: 100px; 
    display: inline-block; 
    text-align: right; 
}

th {
    background-color: #ff7f00;
}

.split-results {
    margin-top: 20px;
    text-align: left;
    background: #ffdfbe;
    padding: 10px;
    border-radius: 10px;
}

.split-results h3, 
.split-results h4 {
    text-align: center;
}

.split-results ul {
    padding-left: 20px;
}

.split-results ul li {
    list-style: none;
    padding: 5px 0;
}

@media print {
    .split-results {
        background: #ffdfbe;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        margin: auto;
        text-align: left;
    }
    h2 {
        text-align: center;
    }
}